# --------------------------------------------------
# Project directories and files Git will not track
# ---------------------------------------------------

### Ignore all data files ###
data/

### Except for these specific files below ###

# Keep placeholders so other collaborators know this directory exists
!data/.keep  
!data/Raw/.keep 
!data/Derived/.keep

### Ignore any results produced ###
Output/

### Ignore Logs produced ###
logs/

### Ignore R based project files ###
.Rhistory
.RData

### Ignore temporary R plot file ###
Rplots.pdf
